@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: rgb(249 250 251);
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #121212;
    --background-end-rgb: 0, 0, 0;
  }
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
}

body {
  color: rgb(var(--foreground-rgb));
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  color: #6b7280;
}

/* login page */
.loginart {
  margin-top: 500px;
  margin-left: 724px;
}

.navitemicon {
  font-size: 25px;
}

.antialiased {
  position: fixed;
  width: -webkit-fill-available;
}

.sidebarmain {
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.responsivesidebar{
  display: none;
}

.subnavlink {
  margin-left: 30px;
}

/* form */
.formdiv {
  padding: 30px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* [data-collapse="true"] .sidebarmain{
  width: auto;
}

[data-collapse="true"] .sidebarmain{
  width: auto;
}

[data-collapse="true"] .ms-3{
  display: none;
}

[data-collapse="true"] .content{ 
  margin-left: 4rem;
} */

.mainnavlink:hover .hoverspan {
  display: block;
}

.hoverspan:hover .hoverspansub {
  display: block;
  margin-left: 200px;
}

.sidebar.collapsed {
  width: 200px;
}

/* notifications */

.mainnotificationsdiv {
  margin-top: 619px;
}

[data-collapse="true"] .subnotificationsdiv {
  display: block;
}

/* app menu */
.mainappdiv {
  margin-top: 425px;
}

[data-collapse="true"] .appmenu {
  display: block;
}

/* user menu */
.maindivusermenu {
  margin-top: 352px;
  margin-left: 140px;
}

[data-collapse="true"] .usermenu {
  display: block;
}

@media (max-width: 640px) {
  .subcontent {
    margin-top: 0;
  }
  .sidebarmain {
    display: none;
  }
  [data-collapse="true"] .content {
    margin-left: 0;
  }
  [data-collapse="true"] .sidebarmain {
    display: none;
  }
  [data-collapse="true"] {
    display: contents;
  }
  [data-collapse="true"] .responsivesidebarsub {
    width: fit-content;
  }
  [data-collapse="true"] .ms-3 {
    display: block;
  }
}

[data-collapse="true"] .CardDropdownlist {
  display: contents;
}

/* form role list */

[data-collapse="true"] .rolelist {
  display: block;
}

.arrow-right::after {
  content: '➔';
  margin-left: 0.5rem;
  color: gray;
}

/* Dashboard.css */

.row-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.row-enter-active {
  max-height: 100px; /* Adjust based on your content */
  opacity: 1;
}

.row-exit {
  max-height: 100px; /* Adjust based on your content */
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
}

.row-exit-active {
  max-height: 0;
  opacity: 0;
}

.custom-divider::after {
  border: 0.05px solid #e5e7eb !important;
}

.dark .custom-divider {
  @apply border-[#3c4042];
}

.custom-input {
  @apply outline-none border border-gray-300 rounded-lg p-2;
}

.custom-input:focus {
  @apply outline-none border-gray-300;
}

.custom-input:hover,
.ant-input:hover {
  @apply outline-none border-gray-300;
}

.dark .custom-input,
.dark .ant-input {
  @apply bg-[#3c4042] text-gray-300 border-gray-500 placeholder-gray-400;
}

.dark .custom-input:focus {
  @apply ring-blue-300;
}

.custom-radio-button {
  @apply border-red-700;
}

.custom-radio-button:checked {
  @apply border-red-700 text-green-700;
}

.dark .custom-radio-button {
  @apply border-gray-600;
}

.dark .custom-radio-button:checked {
  @apply bg-gray-600 text-white;
}

.ant-rate-star .anticon-star svg {
  fill: #e8e8e8;
}

.ant-rate-star:hover .anticon-star svg,
.ant-rate-star-focus .anticon-star svg {
  fill: #ffc107;
}

.ant-rate-star-full .anticon-star svg {
  fill: #ffc107;
}

.custom-form-item .ant-form-item-label {
  width: 100%;
}

.custom-form-item .ant-form-item-control {
  width: 100%;
}

.ant-submit-btn {
  background: #213389 !important;
  padding: 20px 50px 20px 50px !important;
}

.dark .ant-submit-btn {
  background: red !important;
}
.dark .ant-submit-btn:hover {
  background: red !important;
}

.ant-submit-btn:hover {
  background: #213389 !important;
}
